* {
    background-color: aquamarine;
}
header {
    position: fixed; /* Fixes the header at the top of the page */
    top: 0; /* Places the header at the very top */
    left: 0; /* Aligns the header to the left of the page */
    width: 100%; /* Makes the header span the entire width of the page */
    color: white; /* White text for contrast */
    padding: 10px 0; /* Padding for spacing */
    z-index: 1000; /* Ensures the header stays on top of other content */
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 2 rem;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    border-radius: 10px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    background-color: #cddace;
    color: rgb(231, 125, 125);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

