* {
    background-color: aquamarine;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: top;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 2 rem;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    border-radius: 10px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

